.ant-layout-header {
  display: flex;
  justify-content: flex-end;
}

.logo {
  margin-right: auto;
  color: #fff;
  font-family: 'Ubuntu', sans-serif;
  font-size: 36px;
}

.logo--purp {
  color: #6910ff;
}

.create-bet__btn {
  padding: 0 0 0 20px;
}