.bet-page {
  background-color: $bet-background;
  -webkit-box-shadow: 0 5px 20px 0 rgba(0,0,0,0.20);
  box-shadow: 0 5px 20px 0 rgba(0,0,0,0.20);
  -webkit-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  border: 1px solid $faded;
  margin-top: 40px;

  & .individual {

    &__match {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      position: relative;

      .match-details {
        background-color: rgba(255,255,255,0.25);
        border: 1px solid rgba(255,255,255,0.5);
        position: absolute;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
        font: {
          size: 14px;
          weight: 700;
        }
        color: #fff;
        padding: 5px 15px;
        -webkit-border-radius: 4px 4px 4px 4px;
        border-radius: 4px 4px 4px 4px;
        text-transform: uppercase;
      }

      .team {
        width: 50%;
        display: flex;
        align-items: center;
        padding: 100px 0 60px;

        &--1 {
          background-color: $t1-color;
          background-image: url('../images/t1.png');
          background-size: cover;
          background-position: center;
          justify-content: flex-end;
          padding-right: 60px;
          -webkit-border-radius: 4px 0 0 0;
          border-radius: 4px 0 0 0;

          .team__name {
            margin-right: 20px;
            text-align: right;
          }
        }

        &--2 {
          background-color: $t2-color;
          background-image: url('../images/t2.png');
          background-size: cover;
          background-position: center;
          justify-content: flex-start;
          padding-left: 60px;
          -webkit-border-radius: 0 4px 0 0;
          border-radius: 0 4px 0 0;

          .team__name {
            order: 2;
            margin-left: 20px;
            text-align: left;
          }

          .team__logo {
            order: 1;
          }
        }

        &__name {
          h2 {
            font-size: 24px;
            font-weight: 700;
            color: #fff;
            margin-bottom: 0;
            text-shadow: 0 5px 9px rgba(0, 0, 0, 0.35);
          }
        }

        &__logo {
          width: 120px;
          height: 120px;
          border-radius: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #fff;
          -webkit-box-shadow: 0 10px 20px 0 rgba(0,0,0,0.25);
          box-shadow: 0 10px 20px 0 rgba(0,0,0,0.25);

          img {
            width: 70%;
            height: 70%;
          }
        }
      }
    }

    &__info {
      display: flex;
      justify-content: space-evenly;
      background: #ba40f5;
      background: -moz-linear-gradient(left,  #ba40f5 0%, #7266f6 100%);
      background: -webkit-linear-gradient(left,  #ba40f5 0%,#7266f6 100%);
      background: linear-gradient(to right,  #ba40f5 0%,#7266f6 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ba40f5', endColorstr='#7266f6',GradientType=1 );
      font-size: 12px;
      font-weight: 700;
      padding: 6px 0;
      box-shadow: 0 5px 20px 0 rgba(186,64,245,0.55);

      .pot, .date, .participants {
        width: 200px;
        text-align: center;
      }
    }

    &__pick {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      margin: 20px 0;

      h2 {
        color: #767ca3;
        font-size: 16px;
        font-weight: 700;
        font-family: 'Montserrat', sans-serif;
        margin-bottom: 20px;
        text-transform: uppercase;
        text-align: center;
      }

      &-btns {

        .team-pick {

          .t1-btn, .t2-btn {
            font-size: 30px;
            min-width: 150px;
            font-weight: 700;
            height: auto;
            border-radius: 100px;
            border-width: 2px;
          }
  
          .t1-btn {
            background-color: transparent;
            border-color: $t1-color;
            color: $t1-color;
            margin-right: 40px;

            &:hover {
              background-color: $t1-color;
              color: #fff;
            }
          }
  
          .t2-btn {
            background-color: transparent;
            border-color: $t2-color;
            color: $t2-color;

            &:hover {
              background-color: $t2-color;
              color: #fff;
            }
          }
        }
      }
    }

    &__participants {
      display: flex;
      flex-direction: column;
      padding: 20px 60px 60px;
      
      .Team1, .Team2, .Awaiting {
        display: block;
        font-size: 18px;
        padding: 6px;
      }

      .Team1 {
        text-align: left;
        color: $t1-color;
        border-bottom: 1px solid $t1-color;
      }

      .Team2 {
        text-align: right;
        color: $t2-color;
        border-bottom: 1px solid $t2-color;
      }

      .Awaiting {
        text-align: center;
        color: $faded;
        border-bottom: 1px solid $faded;
      }
    }
  }
}