.dashboard {
  display: flex;
  align-items: flex-start;
  margin-top: 40px;

  h2 {
    color: #fff;
    border-bottom: 2px solid #fff;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
  }

  &__matches {
    width: 330px;

    .match {
      background-color: $darkest;
      padding: 12px 20px 20px 20px;
      -webkit-border-radius: 20px;
      border-radius: 20px;
      margin-bottom: 20px;
      -webkit-box-shadow: 0 5px 15px 0 rgba(0,0,0,0.15);
      box-shadow: 0 5px 15px 0 rgba(0,0,0,0.15);

      header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
      }

      &__date, &__time {
        color: $text-faded;
        display: flex;
        align-items: center;
        width: 80px;

        & .text {
          font-size: 10px;
          font-weight: 700;
          margin-left: 5px;
          text-transform: uppercase;
        }
      }

      &__date {
        justify-content: flex-start;
      }

      &__time {
        justify-content: flex-end;
      }

      &__team-logos {
        display: flex;
        justify-content: center;
        align-items: center;

        & .logo-container {
          background-color: #fff;
          width: 70px;
          height: 70px;
          display: flex;
          border-radius: 100%;
          align-items: center;
          justify-content: center;

          img {
            display: block;
            margin: 0 auto;
          }
        }

        & .vs-text {
          font-size: 32px;
          font-family: 'Permanent Marker', cursive;
          font-weight: 700;
          font-style: italic;
          padding-right: 13px;
          margin: 0 25px;
          background: -webkit-linear-gradient(#cc1500, #ffb900);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }

      footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 25px;
      }

      &__team-name {
        margin-top: 10px;
        width: 70px;
        text-align: center;
        font-size: 10px;
        line-height: 1;
      }
    }
  }

  &__bets {
    flex-grow: 1;
    margin-left: 100px;

    .bets {
      .bet {
        background-color: $darkest;
        -webkit-border-radius: 20px;
        border-radius: 20px;
        margin-bottom: 20px;
        -webkit-box-shadow: 0 5px 15px 0 rgba(0,0,0,0.15);
        box-shadow: 0 5px 15px 0 rgba(0,0,0,0.15);

        &__match {
          padding: 20px;
          display: flex;
          align-items: center;
          justify-content: flex-start;

          &-logo {
            margin-right: 20px;
          }

          &-name {
            h4 {
              font-size: 18px;
              font-weight: 700;
              color: $text-faded;
              margin-bottom: 0;
            }
          }

          &-view {
            margin-left: auto;
            .ant-btn {
              @extend %btn-styles;
              border-color: $primary-color;
              background-color: $primary-color;
              color: #fff;

              &:hover {
                -webkit-box-shadow: 0 0 20px 0 rgba(55,69,254,0.5);
                box-shadow: 0 0 20px 0 rgba(55,69,254,0.5);
              }
            }
          }
        }

        footer {
          display: flex;
          padding: 5px 20px;
          -webkit-border-radius: 0 0 20px 20px;
          border-radius: 0 0 20px 20px;

          & .bet__info {
            margin-right: 40px;

            p {
              margin-bottom: 0;
              font-size: 10px;
              font-weight: 700;

              .capitalize {
                text-transform: capitalize;
              }
            }
          }
        }

        &--pending {
          footer {
            background-color: #7f7d87;
          }
        }

        &--active {
          footer {
            background-color: $success-color;
          }
        }

        &--complete {
          footer {
            background-color: $t1-color;
          }
        }
      }
    }
  }
}