.dashboard {
  display: flex;
  align-items: flex-start;
  margin-top: 40px;

  h2 {
    color: $faded;
    font: {
      size: 16px;
      weight: 700;
      family: 'Montserrat', sans-serif;
    }
    margin-bottom: 20px;
    text-transform: uppercase;
  }

  /* ====================== START MATCHES ====================== */

  .matches {
    flex: 0 0 330px;

    @media only screen and (max-width: 840px) {
      flex: 0 0 280px;
    }

    .match {
      -webkit-border-radius: 4px 4px 4px 4px;
      border-radius: 4px 4px 4px 4px;
      background: $component-background;
      padding: 12px 20px 20px 20px;
      margin-bottom: 10px;
      -webkit-box-shadow: 0 5px 20px 0 rgba(0,0,0,0.20);
      box-shadow: 0 5px 20px 0 rgba(0,0,0,0.20);
      border: 1px solid $faded;

      header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
      }

      &-date, &-time {
        color: #fff;
        display: flex;
        align-items: center;
        flex: 1;

        & .text {
          font: {
            size: 12px;
            weight: 700;
          }
          margin-left: 5px;
          text-transform: uppercase;
          line-height: normal;
        }
      }

      &-date {
        justify-content: flex-start;
      }

      &-time {
        justify-content: flex-end;
      }

      &-game {
        width: 24px;
      }

      &-team-logos {
        display: flex;
        justify-content: center;
        align-items: center;

        .vs {
          font-size: 32px;
          font-family: 'Permanent Marker', cursive;
          font-weight: 700;
          font-style: italic;
          padding-right: 13px;
          margin: 0 auto;
          width: 46px;
          background: -webkit-linear-gradient(#cc1500, #ffb900);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          text-shadow: 0 5px 20px rgba(229,101,0,0.55);
        }
      }

      footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      &-team-name {
        color: $faded;
        margin-top: 10px;
        width: 80px;
        text-align: center;
        font: {
          size: 12px;
          weight: 700;
        }
        line-height: 1;
      }
    }
  }

  /* ====================== START BETS ====================== */

  .bets {
    flex-grow: 1;
    margin-left: 40px;

    @media only screen and (max-width: 840px) {
      margin-left: 20px;
    }

    .bet-list {
      .bet {
        background: $component-background;
        -webkit-border-radius: 4px 4px 4px 4px;
        border-radius: 4px 4px 4px 4px;
        margin-bottom: 20px;
        -webkit-box-shadow: 0 5px 20px 0 rgba(0,0,0,0.20);
        box-shadow: 0 5px 20px 0 rgba(0,0,0,0.20);
        border: 1px solid $faded;
        padding: 5px;

        &-match {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          background: $body-background;
          -webkit-border-radius: 4px 4px 4px 4px;
          border-radius: 4px 4px 4px 4px;
          padding: 20px;
          position: relative;

          .game {
            width: 160px;
            height: 80px;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;
            overflow: hidden;
            background: {
              size: contain;
              repeat: no-repeat;
              position: center;
            }
            -webkit-border-radius: 4px 0 0 4px;
            border-radius: 4px 0 0 4px;

            &-Overwatch {
              background: {
                image: url('../images/ow-bet-bg.png');
              }
            }

            &-LoL {
              background: {
                image: url('../images/lol-bet-bg.png');
              }
            }

            &-CS\:GO {
              background: {
                image: url('../images/csgo-bet-bg.png');
              }
            }

            &-Dota {
              background: {
                image: url('../images/dota-bet-bg.png');
              }
            }
          }

          &-logo {
            margin-right: 20px;
            z-index: 1;
          }

          &-name {
            z-index: 1;

            h4 {
              font-size: 18px;
              font-weight: 700;
              color: #fff;
              margin-bottom: 0;
            }
          }

          &-view {
            margin-left: auto;
            z-index: 1;

            .ant-btn {
              height: auto;
              padding: 10px 20px;
              font: {
                size: 10px;
                weight: 700;
              }
              border-radius: 50px;
              border: 1px solid $faded;
              background: transparent;
              text-shadow: none;
              text-transform: uppercase;
              color: rgba(255,255,255,0.75);
      
              &:hover {
                color: #fff;
                border-color: #fff;
              }
            }
          }
        }

        footer {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-top: 5px;
          padding: 5px 10px;

          .bet-info {

            p {
              margin-bottom: 0;
              font: {
                size: 9px;
                weight: 700;
              }
              text-transform: uppercase;
            }
          }
        }

        &--pending {
          color: #f0ad4e;
        }

        &--active {
          color: #5cb85c;
        }
      }
    }
  }
}