.footer {
  background-color: $dark;
  text-align: center;
  font: {
    family: 'Ubuntu', sans-serif;
    weight: 700;
    size: 10px;
  }
  padding: 20px 0;
  margin-top: 40px;

  p {
    margin-bottom: 0;

    .team-name {
      color: $primary-color;
    }
  }
}