body {
  font-family: 'Istok Web', sans-serif !important;
  color: #fff !important;
  background-color: $body-background !important;
}

.container {
  margin: 0 auto;
  width: 1024px;
}

main {
  padding: 0 50px;
  display: flex !important;
  min-height: calc(100vh - 160px)
}

img.bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  overflow: hidden;
}