.header {
  width: 100%;
  display: flex;
  align-items: center;

  .container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .navigation {
    display: flex;
    line-height: 1;
    align-items: center;

    &__btn {
      padding: 0 0 0 20px;

      & .ant-btn {
        @extend %btn-styles;
      }

      & .ant-btn-primary {
        background: transparent;
        border: 2px solid rgba(255,255,255,0.2);

        &:hover {
          background-color: $primary-color;
          border-color: $primary-color;
          -webkit-box-shadow: 0 0 20px 0 rgba(55,69,254,0.5);
          box-shadow: 0 0 20px 0 rgba(55,69,254,0.5);
        }
      }
    }
  }
}

.logo {
  margin-right: auto;

  a {
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    font-style: italic;
    font-size: 36px;

    &:hover {
      color: $primary-color;
      text-shadow: 0 0 20px rgba(55,69,254,0.5);
    }
  }

  &--accent {
    color: $primary-color;
    text-shadow: 0 0 20px rgba(55,69,254,0.5);
  }
  
}