.notifications {

  .notification {
    border-width: 2px;
    border-style: solid;
    border-radius: 4px;
    margin-bottom: 15px;
    width: 400px;

    &--invite {
      border-color: rgba(255,255,255,0.2);
      background-color: rgba(255,255,255,0.1);
    }

    &--teamselect {
      border-color: rgba(255,255,255,0.2);
      background-color: rgba(255,255,255,0.1);
    }

    &--weiner {
      // (　´∀｀)つ―⊂ZZZ⊃
      border: 2px dashed #996515;
      background-color: #daa520;
      color: #71480a;


    }

    &--loser {
      border: 2px dashed #b22222;
      background-color: #df3838;
      color: #731616;
    }

    &__content {
      font-size: 12px;
      padding: 6px 12px;

      &-text {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 5px;

        p {
          margin-bottom: 0;

          & .match {
            font-weight: 700;

            a {
              color: rgba(255,255,255,0.5);
              border-bottom: 2px dotted rgba(255,255,255,0.5);
              transition: all 0.3s;

              &:hover {
                color: #fff;
                border-bottom: 2px dotted #fff;
              }
            }
          }
        }

        & .actions {
          margin-left: auto;

          & .team-btn {
            @extend %btn-styles;
            padding: 0 12.5px;
            font-size: 10px;
            min-width: 50px;

            &--1 {
              background-color: $t1-color;
              border-color: $t1-color;

              &:hover {
                background-color: lighten($t1-color, 10%);
                border-color: lighten($t1-color, 10%);
              }
            }

            &--2 {
              background-color: $t2-color;
              border-color: $t2-color;

              &:hover {
                background-color: lighten($t2-color, 10%);
                border-color: lighten($t2-color, 10%);
              }
            }
          }
        }
      }
    }
    
    footer {
      font-size: 8px;
      font-weight: 700;
      color: rgba(255,255,255,0.4);
    }
  }
}