body {
  font-family: 'Lato', sans-serif !important;
  color: #fff !important;
  background-color: $darker !important;
  // background-image: url('../images/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}

.ant-layout-header {
  height: 65px !important;
  line-height: 1 !important;
  background: $darkest !important;
}

.ant-menu-dark {
  background: $darkest !important;
}

.ant-menu-item .anticon, .ant-menu-submenu-title .anticon {
  margin-right: 0 !important;
}

.ant-drawer {
  .new-bet__actions {
    .ant-btn-primary {
      @extend %btn-styles;
    }
  }
}

.ant-badge-count, .ant-badge-dot, .ant-badge .ant-scroll-number-custom-component {
  width: 8px !important;
  height: 8px !important;
  -webkit-box-shadow: 0 0 10px 0 rgba(245,34,45,0.9) !important;
  box-shadow: 0 0 10px 0 rgba(245,34,45,0.9) !important;
}