body {
  font-family: 'Lato', sans-serif !important;
  color: #fff !important;
}

.ant-layout-header {
  height: 65px !important;
  line-height: 1 !important;
  background: $darkest !important;
}

.ant-menu-dark {
  background: $darkest !important;
}

.ant-menu-item .anticon, .ant-menu-submenu-title .anticon {
  margin-right: 0 !important;
}

.ant-drawer {
  .new-bet__actions {
    .ant-btn-primary {
      @extend %btn-styles;
    }
  }
}