.profile {
  background-color: $dark;
  -webkit-border-radius: 0 0 20px 20px;
  border-radius: 0 0 20px 20px;
  -webkit-box-shadow: 0 5px 15px 0 rgba(0,0,0,0.15);
  box-shadow: 0 5px 15px 0 rgba(0,0,0,0.15);

  &__header {
    background: {
      size: cover;
      position: center;
      repeat: no-repeat;
    }
    position: relative;
    padding-bottom: 300px;

    .header__avatar {
      position: absolute;
      width: 200px;
      height: 200px;
      border-radius: 100%;
      background: {
        size: cover;
        position: center;
        repeat: no-repeat;
      }
      bottom: 40px;
      left: 50%;
      transform: translateX(-50%) translateY(50%);
      -webkit-box-shadow: 0 10px 20px 0 rgba(0,0,0,0.25);
      box-shadow: 0 10px 20px 0 rgba(0,0,0,0.25);
    }
  }
}