.profile {
  &__header {
    background: {
      size: cover;
      position: center;
      repeat: no-repeat;
    }
    position: relative;
    padding-bottom: 300px;
    margin-bottom: 80px;
    -webkit-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
    border: {
      bottom: 1px solid $faded;
      left: 1px solid $faded;
      right: 1px solid $faded;
    }

    .header__avatar {
      position: absolute;
      width: 200px;
      height: 200px;
      border-radius: 100%;
      background: {
        size: cover;
        position: center;
        repeat: no-repeat;
      }
      bottom: 60px;
      left: 50%;
      transform: translateX(-50%) translateY(50%);
      -webkit-box-shadow: 0 5px 20px 0 rgba(0,0,0,0.25);
      box-shadow: 0 5px 20px 0 rgba(0,0,0,0.25);
    }
  }

  &__info {
    overflow: hidden;

    .info__user {
      float: left;
      width: 250px;

      h2 {
        color: $faded;
        font: {
          size: 16px;
          weight: 700;
          family: 'Montserrat', sans-serif;
        }
        margin-bottom: 20px;
        text-transform: uppercase;
      }

      .info__container {
        -webkit-border-radius: 4px 4px 4px 4px;
        border-radius: 4px 4px 4px 4px;
        background: $component-background;
        padding: 12px 20px 20px 20px;
        margin-bottom: 10px;
        -webkit-box-shadow: 0 5px 20px 0 rgba(0,0,0,0.20);
        box-shadow: 0 5px 20px 0 rgba(0,0,0,0.20);
        border: 1px solid $faded;

        h4 {
            font: {
              size: 24px;
              weight: 700;
            }
            color: #fff;
        }

        .user-info {
          &__title {
            font-weight: 700;
            margin-right: 8px;
            color: $faded;
          }
        }
      }
    }

    .info__past-bets {
      float: right;
      width: 594px;

      .dashboard__bets {
        margin-left: 0;

        h2 {
          color: $faded;
          font: {
            size: 16px;
            weight: 700;
            family: 'Montserrat', sans-serif;
          }
          margin-bottom: 20px;
          text-transform: uppercase;
        }
      }
    }
  }
}