.stream {
  background: #131b2e;
  display: flex;
  align-items: flex-start;
  width: 100%;
  height: 581px;
  -webkit-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  -webkit-box-shadow: 0 5px 20px 0 rgba(0,0,0,0.20);
  box-shadow: 0 5px 20px 0 rgba(0,0,0,0.20);
  margin-top: 40px;
  border: 1px solid $faded;

  &__window {
    position: relative;
    height: 579px;
    flex-grow: 1;

    iframe {
      -webkit-border-radius: 4px 0 0 4px;
      border-radius: 4px 0 0 4px;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: none;
    }
  }

  &__chat {
    width: 300px;
    height: 100%;

    & .chat {
      position: relative;
      height: 100%;
      overflow: hidden;

      &__messages {
        padding: 20px 20px 120px;
        overflow-y: scroll;
        height: 100%;

        &::-webkit-scrollbar {
          width: 0px;
          background: transparent; /* make scrollbar transparent */
        }
      }

      &__chatbar {
        position: absolute;
        bottom: 0;
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 20px;
        -webkit-border-radius: 0 0 4px 0;
        border-radius: 0 0 4px 0;
        background: #ba40f5;
        background: -moz-linear-gradient(left,  #ba40f5 0%, #7266f6 100%);
        background: -webkit-linear-gradient(left,  #ba40f5 0%,#7266f6 100%);
        background: linear-gradient(to right,  #ba40f5 0%,#7266f6 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ba40f5', endColorstr='#7266f6',GradientType=1 );
        box-shadow: 0 5px 20px 0 rgba(186,64,245,0.55);

        .chatbar__username, .chatbar__message {
          background-color: transparent;
          border: {
            top: none;
            left: none;
            right: none;
            bottom: 2px solid rgba(255,255,255,0.15) !important;
          }
          outline: none;

          &::placeholder {
            color: #fff;
            opacity: 0.5;
          }
        }

        .chatbar__message {
          margin-top: 10px;
        }
      }
    }
  }
}