$primary-color: #3745fe;
$text-faded: #7f7d87;
$dark: #26282f;
$darker: #191b22;
$darkest: #0f0f0f;
$success-color: #52c41a;
$error-color: #ff4d4f;
$t1-color: #1890ff;
$t2-color: $error-color;

%btn-styles {
  border-radius: 100px;
  padding: 0 25px;
  border-width: 2px;
}