/* .dynamic-delete-button {
  cursor: pointer;
  position: relative;
  top: 4px;
  font-size: 24px;
  color: #999;
  transition: all 0.3s;
}
.dynamic-delete-button:hover {
  color: #777;
}
.dynamic-delete-button[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
} */

/* ========== Ant Design Overrides ========== */
.ant-layout-header {
  display: flex;
  justify-content: flex-end;
  background: #171719 !important;
}

.ant-menu-dark {
  background: #171719 !important;
}

.ant-menu-item .anticon, .ant-menu-submenu-title .anticon {
  margin-right: 0 !important;
}

.ant-menu-dark .ant-menu-item .anticon {
  transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1)
}

.ant-menu-dark .ant-menu-item .anticon:hover {
  transform: scale(2);
}

/* ========== Logo ========== */
.logo {
  margin-right: auto;
  color: #fff;
  font-family: 'Ubuntu', sans-serif;
  font-size: 36px;
}

.logo--purp {
  color: #6910ff;
}

/* ========== New Bet Form ========== */
.new-bet {
  width: 500px;
}

.new-bet__btn {
  padding: 0 0 0 20px;
}

.new-bet__btn .ant-btn {
  border-radius: 100px;
  padding: 0 25px;
}

.new-bet__btn .ant-btn-primary {
  background: transparent;
  border: 2px solid #444346;
}

.new-bet__btn .ant-btn-primary:hover {
  background-color: #6910ff;
  border-color: #6910ff;
}

.new-bet__actions {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #e9e9e9;
  padding: 10px 16px;
  background: #fff;
  text-align: right;
}

.ant-input.invite-friends__email-field {
  width: 90%;
  margin-right: 8px;
}

.invite-friends__btn {
  width: 100%;
}