.ant-drawer .new-bet__actions .ant-btn-primary, .header .navigation__btn .ant-btn, .notifications .notification__content-text .actions .team-btn, .dashboard__bets .bets .bet__match-view .ant-btn {
  border-radius: 100px;
  padding: 0 25px;
  border-width: 2px; }

body {
  font-family: 'Lato', sans-serif !important;
  color: #fff !important;
  background-color: #191b22 !important;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top; }

.ant-layout-header {
  height: 65px !important;
  line-height: 1 !important;
  background: #0f0f0f !important; }

.ant-menu-dark {
  background: #0f0f0f !important; }

.ant-menu-item .anticon, .ant-menu-submenu-title .anticon {
  margin-right: 0 !important; }

.ant-drawer .ant-drawer-content {
  background-color: #3745fe; }
  .ant-drawer .ant-drawer-content .ant-drawer-header {
    background-color: #3745fe;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2) !important; }
    .ant-drawer .ant-drawer-content .ant-drawer-header .ant-drawer-title {
      color: #fff !important; }
    .ant-drawer .ant-drawer-content .ant-drawer-header .ant-drawer-close {
      color: #fff; }
  .ant-drawer .ant-drawer-content .ant-form-item-label > label {
    color: #fff !important; }

.ant-popover-arrow {
  border-color: #3745fe !important; }
.ant-popover-inner {
  background-color: #3745fe !important; }
.ant-popover-inner-content {
  color: #fff !important; }

.ant-badge-count, .ant-badge-dot, .ant-badge .ant-scroll-number-custom-component {
  width: 8px !important;
  height: 8px !important;
  -webkit-box-shadow: 0 0 10px 0 rgba(245, 34, 45, 0.9) !important;
  box-shadow: 0 0 10px 0 rgba(245, 34, 45, 0.9) !important; }

.container {
  margin: 0 auto;
  width: 1024px; }

img.bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  overflow: hidden; }

.header {
  width: 100%;
  display: flex;
  align-items: center; }
  .header .container {
    display: flex;
    justify-content: flex-end;
    align-items: center; }
  .header .navigation {
    display: flex;
    line-height: 1;
    align-items: center; }
    .header .navigation__btn {
      padding: 0 0 0 20px; }
      .header .navigation__btn .ant-btn-primary {
        background: transparent;
        border: 2px solid rgba(255, 255, 255, 0.2); }
        .header .navigation__btn .ant-btn-primary:hover {
          background-color: #3745fe;
          border-color: #3745fe;
          -webkit-box-shadow: 0 0 20px 0 rgba(55, 69, 254, 0.5);
          box-shadow: 0 0 20px 0 rgba(55, 69, 254, 0.5); }

.logo {
  margin-right: auto; }
  .logo a {
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    font-style: italic;
    font-size: 36px; }
    .logo a:hover {
      color: #3745fe;
      text-shadow: 0 0 20px rgba(55, 69, 254, 0.5); }
  .logo--accent {
    color: #3745fe;
    text-shadow: 0 0 20px rgba(55, 69, 254, 0.5); }

.notifications .notification {
  border-width: 2px;
  border-style: solid;
  border-radius: 4px;
  margin-bottom: 15px;
  width: 400px; }
  .notifications .notification--invite {
    border-color: rgba(255, 255, 255, 0.2);
    background-color: rgba(255, 255, 255, 0.1); }
  .notifications .notification--teamselect {
    border-color: rgba(255, 255, 255, 0.2);
    background-color: rgba(255, 255, 255, 0.1); }
  .notifications .notification--weiner {
    border: 2px dashed #996515;
    background-color: #daa520;
    color: #71480a; }
  .notifications .notification--loser {
    border: 2px dashed #b22222;
    background-color: #df3838;
    color: #731616; }
  .notifications .notification__content {
    font-size: 12px;
    padding: 6px 12px; }
    .notifications .notification__content-text {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 5px; }
      .notifications .notification__content-text p {
        margin-bottom: 0; }
        .notifications .notification__content-text p .match {
          font-weight: 700;
          border-bottom: 2px dotted rgba(255, 255, 255, 0.25); }
      .notifications .notification__content-text .actions {
        margin-left: auto; }
        .notifications .notification__content-text .actions .team-btn {
          padding: 0 12.5px;
          font-size: 10px;
          min-width: 50px; }
          .notifications .notification__content-text .actions .team-btn--1 {
            background-color: #1890ff;
            border-color: #1890ff; }
            .notifications .notification__content-text .actions .team-btn--1:hover {
              background-color: #4ba9ff;
              border-color: #4ba9ff; }
          .notifications .notification__content-text .actions .team-btn--2 {
            background-color: #ff4d4f;
            border-color: #ff4d4f; }
            .notifications .notification__content-text .actions .team-btn--2:hover {
              background-color: #ff8081;
              border-color: #ff8081; }
  .notifications .notification footer {
    font-size: 8px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.4); }

.new-bet__actions {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding: 10px 16px;
  text-align: right; }
.new-bet .ant-input.email-field {
  width: 90%;
  margin-right: 8px; }
.new-bet .email-field__btn {
  width: 100%; }

main {
  padding: 0 50px;
  display: flex !important; }

.dashboard {
  display: flex;
  align-items: flex-start;
  margin-top: 40px; }
  .dashboard h2 {
    color: #fff;
    border-bottom: 2px solid #fff;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px; }
  .dashboard__matches {
    width: 330px; }
    .dashboard__matches .match {
      background-color: #0f0f0f;
      padding: 12px 20px 20px 20px;
      -webkit-border-radius: 20px;
      border-radius: 20px;
      margin-bottom: 20px;
      -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
      box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15); }
      .dashboard__matches .match header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px; }
      .dashboard__matches .match__date, .dashboard__matches .match__time {
        color: #7f7d87;
        display: flex;
        align-items: center;
        width: 80px; }
        .dashboard__matches .match__date .text, .dashboard__matches .match__time .text {
          font-size: 10px;
          font-weight: 700;
          margin-left: 5px;
          text-transform: uppercase; }
      .dashboard__matches .match__date {
        justify-content: flex-start; }
      .dashboard__matches .match__time {
        justify-content: flex-end; }
      .dashboard__matches .match__team-logos {
        display: flex;
        justify-content: center;
        align-items: center; }
        .dashboard__matches .match__team-logos .logo-container {
          background-color: #fff;
          width: 70px;
          height: 70px;
          display: flex;
          border-radius: 100%;
          align-items: center;
          justify-content: center; }
          .dashboard__matches .match__team-logos .logo-container img {
            display: block;
            margin: 0 auto; }
        .dashboard__matches .match__team-logos .vs-text {
          font-size: 32px;
          font-family: 'Permanent Marker', cursive;
          font-weight: 700;
          font-style: italic;
          padding-right: 13px;
          margin: 0 25px;
          background: -webkit-linear-gradient(#cc1500, #ffb900);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent; }
      .dashboard__matches .match footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 25px; }
      .dashboard__matches .match__team-name {
        margin-top: 10px;
        width: 70px;
        text-align: center;
        font-size: 10px;
        line-height: 1; }
  .dashboard__bets {
    flex-grow: 1;
    margin-left: 100px; }
    .dashboard__bets .bets .bet {
      background-color: #0f0f0f;
      -webkit-border-radius: 20px;
      border-radius: 20px;
      margin-bottom: 20px;
      -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
      box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15); }
      .dashboard__bets .bets .bet__match {
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: flex-start; }
        .dashboard__bets .bets .bet__match-logo {
          margin-right: 20px; }
        .dashboard__bets .bets .bet__match-name h4 {
          font-size: 18px;
          font-weight: 700;
          color: #7f7d87;
          margin-bottom: 0; }
        .dashboard__bets .bets .bet__match-view {
          margin-left: auto; }
          .dashboard__bets .bets .bet__match-view .ant-btn {
            border-color: #3745fe;
            background-color: #3745fe;
            color: #fff; }
            .dashboard__bets .bets .bet__match-view .ant-btn:hover {
              -webkit-box-shadow: 0 0 20px 0 rgba(55, 69, 254, 0.5);
              box-shadow: 0 0 20px 0 rgba(55, 69, 254, 0.5); }
      .dashboard__bets .bets .bet footer {
        display: flex;
        padding: 5px 20px;
        -webkit-border-radius: 0 0 20px 20px;
        border-radius: 0 0 20px 20px; }
        .dashboard__bets .bets .bet footer .bet__info {
          margin-right: 40px; }
          .dashboard__bets .bets .bet footer .bet__info p {
            margin-bottom: 0;
            font-size: 10px;
            font-weight: 700; }
            .dashboard__bets .bets .bet footer .bet__info p .capitalize {
              text-transform: capitalize; }
      .dashboard__bets .bets .bet--pending footer {
        background-color: #7f7d87; }
      .dashboard__bets .bets .bet--active footer {
        background-color: #52c41a; }
      .dashboard__bets .bets .bet--complete footer {
        background-color: #1890ff; }

.bet {
  background-color: #0f0f0f;
  -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 20px 20px 20px 20px;
  border-radius: 20px 20px 20px 20px; }
  .bet .individual {
    margin-top: 40px; }
    .bet .individual__match {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      position: relative; }
      .bet .individual__match .match-details {
        background-color: #0f0f0f;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        font-size: 20px;
        font-weight: 700;
        color: #fff;
        padding: 5px 15px;
        -webkit-border-radius: 0 0 20px 20px;
        border-radius: 0 0 20px 20px; }
      .bet .individual__match .team {
        width: 50%;
        display: flex;
        align-items: center;
        padding: 100px 0 60px; }
        .bet .individual__match .team--1 {
          background-color: #1890ff;
          background-image: url("../images/t1.png");
          background-size: cover;
          background-position: center;
          justify-content: flex-end;
          padding-right: 60px;
          -webkit-border-radius: 20px 0 0 0;
          border-radius: 20px 0 0 0; }
          .bet .individual__match .team--1 .team__name {
            margin-right: 40px;
            text-align: right; }
        .bet .individual__match .team--2 {
          background-color: #ff4d4f;
          background-image: url("../images/t2.png");
          background-size: cover;
          background-position: center;
          justify-content: flex-start;
          padding-left: 60px;
          -webkit-border-radius: 0 20px 0 0;
          border-radius: 0 20px 0 0; }
          .bet .individual__match .team--2 .team__name {
            order: 2;
            margin-left: 40px;
            text-align: left; }
          .bet .individual__match .team--2 .team__logo {
            order: 1; }
        .bet .individual__match .team__name h2 {
          font-size: 24px;
          font-weight: 700;
          color: #fff;
          margin-bottom: 0;
          text-shadow: 0 5px 9px rgba(0, 0, 0, 0.35); }
        .bet .individual__match .team__logo {
          width: 120px;
          height: 120px;
          border-radius: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #fff;
          -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.25); }
          .bet .individual__match .team__logo img {
            width: 80%;
            height: 80%; }
    .bet .individual__info {
      display: flex;
      justify-content: space-evenly;
      background-color: #3745fe;
      font-size: 12px;
      font-weight: 700;
      padding: 6px 0;
      -webkit-box-shadow: 0 0 20px 0 rgba(55, 69, 254, 0.5);
      box-shadow: 0 0 20px 0 rgba(55, 69, 254, 0.5); }
      .bet .individual__info .pot, .bet .individual__info .date, .bet .individual__info .participants {
        width: 200px;
        text-align: center; }
    .bet .individual__pick {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      margin: 20px 0; }
      .bet .individual__pick h2 {
        color: #fff;
        border-bottom: 2px solid #fff;
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 20px; }
      .bet .individual__pick-btns .team-pick .t1-btn, .bet .individual__pick-btns .team-pick .t2-btn {
        font-size: 30px;
        min-width: 150px;
        font-weight: 700;
        height: auto;
        border-radius: 100px;
        border-width: 2px; }
      .bet .individual__pick-btns .team-pick .t1-btn {
        background-color: transparent;
        border-color: #1890ff;
        color: #1890ff;
        margin-right: 40px; }
        .bet .individual__pick-btns .team-pick .t1-btn:hover {
          background-color: #1890ff;
          color: #fff; }
      .bet .individual__pick-btns .team-pick .t2-btn {
        background-color: transparent;
        border-color: #ff4d4f;
        color: #ff4d4f; }
        .bet .individual__pick-btns .team-pick .t2-btn:hover {
          background-color: #ff4d4f;
          color: #fff; }
    .bet .individual__participants {
      display: flex;
      flex-direction: column;
      padding: 20px 60px; }
      .bet .individual__participants .Team1, .bet .individual__participants .Team2, .bet .individual__participants .Awaiting {
        display: block;
        font-size: 18px;
        padding: 6px; }
      .bet .individual__participants .Team1 {
        text-align: left;
        color: #1890ff;
        border-bottom: 1px solid #1890ff; }
      .bet .individual__participants .Team2 {
        text-align: right;
        color: #ff4d4f;
        border-bottom: 1px solid #ff4d4f; }
      .bet .individual__participants .Awaiting {
        text-align: center;
        color: #7f7d87;
        border-bottom: 1px solid #7f7d87; }

.profile {
  background-color: #26282f;
  -webkit-border-radius: 0 0 20px 20px;
  border-radius: 0 0 20px 20px;
  -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15); }
  .profile__header {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    padding-bottom: 300px; }
    .profile__header .header__avatar {
      position: absolute;
      width: 200px;
      height: 200px;
      border-radius: 100%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      bottom: 60px;
      left: 50%;
      transform: translateX(-50%) translateY(50%);
      -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.25);
      box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.25); }
  .profile__info {
    padding: 80px 40px 20px;
    overflow: hidden; }
    .profile__info .info__user {
      float: left;
      width: 250px; }
      .profile__info .info__user h2 {
        color: #fff;
        border-bottom: 2px solid #fff;
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 20px; }
      .profile__info .info__user .info__container {
        background-color: #0f0f0f;
        padding: 12px 20px 20px 20px;
        -webkit-border-radius: 20px;
        border-radius: 20px;
        margin-bottom: 20px;
        -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
        box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
        color: #7f7d87; }
        .profile__info .info__user .info__container h4 {
          font-size: 24px;
          font-weight: 700;
          color: #fff; }
        .profile__info .info__user .info__container .user-info__title {
          font-weight: 700;
          margin-right: 5px;
          color: #fff; }
    .profile__info .info__past-bets {
      float: right;
      width: 594px; }
      .profile__info .info__past-bets .dashboard__bets {
        margin-left: 0; }
        .profile__info .info__past-bets .dashboard__bets h2 {
          color: #fff;
          border-bottom: 2px solid #fff;
          font-size: 24px;
          font-weight: 700;
          margin-bottom: 20px; }

.stream {
  background-color: #0f0f0f;
  display: flex;
  align-items: flex-start;
  width: 100%;
  height: 407px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
  margin-top: 40px; }
  .stream__window {
    position: relative;
    padding-bottom: 37.4%;
    padding-top: 25px;
    height: 0;
    flex-grow: 1; }
    .stream__window iframe {
      -webkit-border-radius: 20px 0 0 20px;
      border-radius: 20px 0 0 20px;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
  .stream__chat {
    width: 300px;
    height: 100%; }
    .stream__chat .chat {
      position: relative;
      height: 100%; }
      .stream__chat .chat__messages {
        padding: 20px; }
      .stream__chat .chat__chatbar {
        position: absolute;
        bottom: 0;
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: #3745fe;
        padding: 20px;
        -webkit-border-radius: 20px;
        border-radius: 0 0 20px 0;
        -webkit-box-shadow: 0 0 20px 0 rgba(55, 69, 254, 0.5);
        box-shadow: 0 0 20px 0 rgba(55, 69, 254, 0.5); }
        .stream__chat .chat__chatbar .chatbar__username, .stream__chat .chat__chatbar .chatbar__message {
          background-color: transparent;
          border-top: none;
          border-left: none;
          border-right: none;
          border-bottom: 2px solid rgba(255, 255, 255, 0.15) !important;
          outline: none; }
          .stream__chat .chat__chatbar .chatbar__username::placeholder, .stream__chat .chat__chatbar .chatbar__message::placeholder {
            color: #fff;
            opacity: 0.5; }
        .stream__chat .chat__chatbar .chatbar__message {
          margin-top: 10px; }

/*# sourceMappingURL=styles.css.map */
