.ant-drawer .new-bet__actions .ant-btn-primary, .header .navigation__btn .ant-btn, .notifications .notification__content-text .actions .team-btn, .dashboard__bets .bets .bet__match-view .ant-btn {
  border-radius: 100px;
  padding: 0 25px;
  border-width: 2px; }

body {
  font-family: 'Lato', sans-serif !important;
  color: #fff !important;
  background-color: #191b22 !important;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top; }

.ant-layout-header {
  height: 65px !important;
  line-height: 1 !important;
  background: #0f0f0f !important; }

.ant-menu-dark {
  background: #0f0f0f !important; }

.ant-menu-item .anticon, .ant-menu-submenu-title .anticon {
  margin-right: 0 !important; }

.ant-badge-count, .ant-badge-dot, .ant-badge .ant-scroll-number-custom-component {
  width: 8px !important;
  height: 8px !important;
  -webkit-box-shadow: 0 0 10px 0 rgba(245, 34, 45, 0.9) !important;
  box-shadow: 0 0 10px 0 rgba(245, 34, 45, 0.9) !important; }

.container {
  margin: 0 auto;
  width: 1024px; }

img.bg {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; }

.header {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 40px; }
  .header .container {
    display: flex;
    justify-content: flex-end;
    align-items: center; }
  .header .navigation {
    display: flex;
    line-height: 1;
    align-items: center; }
    .header .navigation__btn {
      padding: 0 0 0 20px; }
      .header .navigation__btn .ant-btn-primary {
        background: transparent;
        border: 2px solid rgba(255, 255, 255, 0.2); }
        .header .navigation__btn .ant-btn-primary:hover {
          background-color: #3745fe;
          border-color: #3745fe; }

.logo {
  margin-right: auto; }
  .logo a {
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    font-style: italic;
    font-size: 36px; }
    .logo a:hover {
      color: #3745fe;
      text-shadow: 0 1px 10px #010fce; }
  .logo--accent {
    color: #3745fe;
    text-shadow: 0 1px 10px #010fce; }

.notifications .notification {
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  margin-bottom: 15px; }
  .notifications .notification--invite {
    border-color: #d9d9d9;
    background-color: rgba(217, 217, 217, 0.1); }
  .notifications .notification--teamselect {
    border-color: #40a9ff;
    background-color: rgba(64, 169, 255, 0.1); }
  .notifications .notification--weiner {
    border-color: #52c41a;
    background-color: rgba(82, 196, 26, 0.1); }
  .notifications .notification--loser {
    border-color: #ff4d4f;
    background-color: rgba(255, 77, 79, 0.1); }
  .notifications .notification__content {
    font-size: 12px;
    padding: 6px 12px; }
    .notifications .notification__content-text {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 5px; }
      .notifications .notification__content-text p {
        margin-bottom: 0; }
        .notifications .notification__content-text p .match {
          font-weight: 700;
          border-bottom: 2px dotted rgba(0, 0, 0, 0.65); }
      .notifications .notification__content-text .actions {
        margin-left: auto; }
        .notifications .notification__content-text .actions .team-btn {
          padding: 0 12.5px;
          font-size: 10px;
          min-width: 50px; }
  .notifications .notification footer {
    font-size: 8px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.25); }

.new-bet__actions {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #e8e8e8;
  padding: 10px 16px;
  text-align: right; }
.new-bet .ant-input.email-field {
  width: 90%;
  margin-right: 8px; }
.new-bet .email-field__btn {
  width: 100%; }

main {
  padding: 0 50px;
  display: flex !important; }

.dashboard {
  display: flex;
  align-items: flex-start; }
  .dashboard h2 {
    color: #fff;
    border-bottom: 2px solid #fff;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px; }
  .dashboard__matches {
    width: 330px; }
    .dashboard__matches .match {
      background-color: #0f0f0f;
      padding: 12px 20px 20px 20px;
      -webkit-border-radius: 20px;
      border-radius: 20px;
      margin-bottom: 20px;
      -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
      box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15); }
      .dashboard__matches .match header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px; }
      .dashboard__matches .match__date, .dashboard__matches .match__time {
        color: #7f7d87;
        display: flex;
        align-items: center;
        width: 80px; }
        .dashboard__matches .match__date .text, .dashboard__matches .match__time .text {
          font-size: 10px;
          font-weight: 700;
          margin-left: 5px;
          text-transform: uppercase; }
      .dashboard__matches .match__date {
        justify-content: flex-start; }
      .dashboard__matches .match__time {
        justify-content: flex-end; }
      .dashboard__matches .match__team-logos {
        display: flex;
        justify-content: center;
        align-items: center; }
        .dashboard__matches .match__team-logos .logo-container {
          background-color: #fff;
          width: 70px;
          height: 70px;
          display: flex;
          border-radius: 100%;
          align-items: center;
          justify-content: center; }
          .dashboard__matches .match__team-logos .logo-container img {
            display: block;
            margin: 0 auto; }
        .dashboard__matches .match__team-logos .vs-text {
          font-size: 32px;
          font-family: 'Permanent Marker', cursive;
          font-weight: 700;
          font-style: italic;
          padding-right: 13px;
          margin: 0 25px;
          background: -webkit-linear-gradient(#cc1500, #ffb900);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent; }
      .dashboard__matches .match footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 25px; }
      .dashboard__matches .match__team-name {
        margin-top: 10px;
        width: 70px;
        text-align: center;
        font-size: 10px;
        line-height: 1; }
  .dashboard__bets {
    flex-grow: 1;
    margin-left: 100px; }
    .dashboard__bets .bets .bet {
      background-color: #0f0f0f;
      -webkit-border-radius: 20px;
      border-radius: 20px;
      margin-bottom: 20px;
      -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
      box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15); }
      .dashboard__bets .bets .bet__match {
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: flex-start; }
        .dashboard__bets .bets .bet__match-logo {
          margin-right: 20px; }
        .dashboard__bets .bets .bet__match-name h4 {
          font-size: 18px;
          font-weight: 700;
          color: #7f7d87;
          margin-bottom: 0; }
        .dashboard__bets .bets .bet__match-view {
          margin-left: auto; }
          .dashboard__bets .bets .bet__match-view .ant-btn {
            border-color: #3745fe;
            background-color: #3745fe;
            color: #fff; }
            .dashboard__bets .bets .bet__match-view .ant-btn:hover {
              background-color: #6a74fe;
              border-color: #6a74fe; }
      .dashboard__bets .bets .bet footer {
        display: flex;
        padding: 5px 20px;
        -webkit-border-radius: 0 0 20px 20px;
        border-radius: 0 0 20px 20px; }
        .dashboard__bets .bets .bet footer .bet__info {
          margin-right: 40px; }
          .dashboard__bets .bets .bet footer .bet__info p {
            margin-bottom: 0;
            font-size: 10px;
            font-weight: 700; }
            .dashboard__bets .bets .bet footer .bet__info p .capitalize {
              text-transform: capitalize; }
      .dashboard__bets .bets .bet--pending footer {
        background-color: #7f7d87; }

.stream {
  background-color: #0f0f0f;
  display: flex;
  align-items: flex-start;
  width: 100%;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15); }
  .stream__window {
    position: relative;
    padding-bottom: 37.5%;
    padding-top: 25px;
    height: 0;
    flex-grow: 1; }
    .stream__window iframe {
      -webkit-border-radius: 20px 0 0 20px;
      border-radius: 20px 0 0 20px;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
  .stream__chat {
    width: 300px;
    height: 100%; }
    .stream__chat .chat {
      position: relative;
      height: 100%; }
      .stream__chat .chat__messages {
        padding: 20px; }
      .stream__chat .chat__chatbar {
        position: absolute;
        bottom: 0;
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: #3745fe;
        padding: 20px;
        -webkit-border-radius: 20px;
        border-radius: 0 0 20px 0; }
        .stream__chat .chat__chatbar .chatbar__username, .stream__chat .chat__chatbar .chatbar__message {
          background-color: transparent;
          border-top: none;
          border-left: none;
          border-right: none;
          border-bottom: 2px solid rgba(255, 255, 255, 0.15) !important;
          outline: none; }
          .stream__chat .chat__chatbar .chatbar__username::placeholder, .stream__chat .chat__chatbar .chatbar__message::placeholder {
            color: #fff;
            opacity: 0.5; }
        .stream__chat .chat__chatbar .chatbar__message {
          margin-top: 10px; }

/*# sourceMappingURL=styles.css.map */
